<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span> Welcome To BU Tutor!</h1>
             <p>Build your own tutor profile now!</p>
             <p>
                <a class="btn btn-primary btn-lg" href="tutors/new">Add New Tutor</a>
                <a class="btn btn-primary btn-lg" href="search">Search for Tutors</a>
                
             </p>

         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% tutors.forEach(function(tutor){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= tutor.image %>">
                   <div class="caption">
                       <h4>Name: <%= tutor.name %></h4>
                       <h5>Coding Skill: <%= tutor.description %></h5>
                       <h5>Technical Skill: <%= tutor.description1 %></h5>
                      
                   </div>
                   <p>
                       <a href="/tutors/<%= tutor._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
